SECRET_KEY=gere-uma-chave-segura-com-openssl-rand-hex-32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Desenvolvimento (SQLite local)
DATABASE_URL=sqlite:///./escritorio.db

# Produção (Supabase)
# DATABASE_URL=postgresql://postgres.accwxizhheuxbxaowzot:[password]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres
